<div class="big-cta">
  <div class="container">
    <div class="row">
      <div class="text">
        <h1>Bring your company to <br>
        the digital world</h1>
      </div>
      <% link_to "portfolio.html" do %>
        <button class="btn-secondary">See More</button>
      <% end %>
    </div>
  </div>
</div>
