<div class="big-cta">
  <div class="row">
    <div class="text">
      <div class="wrapper">
        <div class="inner">
         <h1>My Services</h1>
          <% link_to "portfolio.html" do %>
          <button class="btn-custom">See More</button>
        <% end %>
       </div>
     </div>
   </div>
 </div>
</div>

