<div class="text-center footer">
	<div class="hidden-xs info col-xs-12 col-md-3">
		<div class="lockup-2">
			<h1 style="color:white; font-size: 20px;">Co/Obst.</h1>
		</div>
		<div style="display: flex; justify-content: space-between;">
			<div class="city">
				<p style="color: #ffffff94; font-size: 13px;">Thanks for visiting us and dont hesitate to contact us.</p>
			</div>
		</div>
	</div>
	<div class="info col-xs-12 col-md-6">
		<div class="lockup-2">
			<h1 style="color:white; font-size: 20px;">Come See Us.</h1>
		</div>
		<div style="display: flex;">
			<div class="">
				<p style="color: #ffffff94; font-size: 13px;">Factory Berlin Görli</p>
				<p style="color: #ffffff94; font-size: 13px;">Lohmühlenstraße 65</p>
				<p style="color: #ffffff94; font-size: 13px;">Email: martindfru@gmail.com</p>
				<p style="color: #ffffff94; font-size: 13px;">Phone: +34 684-085-867</p>
			</div>
		</div>
	</div>
</div>
