<div class="text-center footer">
	<div class="hidden-xs info col-xs-12 col-md-3">
		<div class="lockup-2">
			<h1 style="color:white; font-size: 20px;">Co/Obst.</h1>
		</div>
		<div style="display: flex; justify-content: space-between;">
			<div class="city">
				<p>Menu</p>
				<p style="color: #ffffff94; font-size: 13px;">Legal</p>
				<p style="color: #ffffff94; font-size: 13px;">Privacy Policy</p>
				<p style="color: #ffffff94; font-size: 13px;">FAQ</p>
			</div>
		</div>
	</div>
	<div class="info col-xs-12 col-md-6">
		<div class="lockup-2">
			<h1 style="color:white; font-size: 20px;">Our Offices.</h1>
		</div>
		<div style="display: flex;">
			<div class="">
				<p>Berlin</p>
				<p style="color: #ffffff94; font-size: 13px;">Hedemanstrasee, 31</p>
				<p style="color: #ffffff94; font-size: 13px;">Email: hello@designobst.com</p>
				<p style="color: #ffffff94; font-size: 13px;">Phone: +34 684-085-867</p>
			</div>
		</div>
	</div>
</div>
