<section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="text-center"> 
          <h2 style="font-weight: lighter; margin-bottom: 33px; font-size: 20px; color: black;" class="text-white mb-5">Send us a message!</h2
          <br>
          <form class="form-group">
            <input style="width: 100%; max-width: 500px; margin: auto; margin-bottom: 15px;" type="email" class="form-control" id="inputEmail" placeholder="Enter email address...">
            <label style="color: lightgrey; text-align: left; margin: 12px 3px; font-weight: lighter; width: 500px;">Write a message.</label>
            <input style="width: 100%; max-width: 500px;margin: auto; margin-bottom: 15px; height: 130px;" type="text-field" class="form-control" id="inputEmail">
            <button style="width: 100%; max-width: 500px;" type="submit" class="btn btn-primary mx-auto">Send</button>
          </form>

        </div>
      </div>
    </div>
  </section>