<section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="text-center">

       
          <h2 style="font-size: 31px; color: #5d5d5d;" class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input style="width: 31%;" type="email" class="form-control" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>