<section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="text-center">

       
          <h2 style="margin-bottom: 33px; font-size: 24px; color: #2e3676;" class="text-white mb-5">Have questions? Send us a message!</h2>
          <p>We will get in touch with you ;)</p>
          <br>
          <form class="form-group">
            <input style="width: 61%; margin: auto; margin-bottom: 15px;" type="email" class="form-control" id="inputEmail" placeholder="Enter email address...">
            <input style="width: 61%;margin: auto; margin-bottom: 15px; height: 130px;" type="text-field" class="form-control" id="inputEmail" placeholder="Send us a message.">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>