<div class="port-link">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-7 left">
        <div class="lockup">
        <%= image_tag("logo_obst.svg") %>
        </div>
        <div>
          <p style="color: #ff5959;  font-size: 22px;">Berlin based design & development studio</p>
          <h1 class="header-home" style="color: #2e3676;">We help you build brands, websites, and digital products.</h1>
          <%= image_tag("light.png", class: "iphone-img") %>
         
          <br>
         <%= link_to("Our Work", "https://www.behance.net/co-obst" , class: "btn btn-primary", style: "margin-right: 6px;" ) %>
         <%= link_to("Get In Touch", "https://www.behance.net/co-obst" , class: "btn btn-second" ) %>
    
        </div>
      </div>
    </div>
  </div>
</div>
<div class="port-link-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <p style="font-size: 26px;
    color: #f26a68;
    font-size: 22px;
    max-width: 722px;
    text-align: left;
    margin: auto;">We are a collective of creative profesionals brought together by our passion for technology. </p>
           <p style="font-size: 20px; max-width: 722px; text-align: left; margin: auto; color: white; margin-top: 20px;">We can adapt on request, but this is what we are pretty good at:</p>
           <br>

      </div>
      <div class="width-constraint">
        <div class="col-xs-12 col-md-6">
            <h1 style="font-size: 20px; color: white;">UX/UI Design</h1>
            <p style="line-height: 38px; font-size: 16px; color: #b6c1cc;">- Prototyping + UX <br>
                                                        - Design Sprints<br>
                                                        - Landing Pages</p>

        </div>
        <div class="col-xs-12 col-md-6">
            <h1 style="font-size: 20px; color: white;">Web Development</h1>
           <p style="line-height: 38px; font-size: 16px; color: #b6c1cc;">- Websites & Apps Development<br>
                                                       - Code Review / Optimization<br>
                                                      - Common CMS Optimization</p>
        </div>
      </div>
    </div>
  </div>
</div>