<div class="port-link">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-7 left">
        <div class="lockup">
        <%= image_tag("logo_obst.svg") %>
        </div>
        <div>
          <p style="color: #b6c1cb;">We are a freelancer collective</p>
          <h1 class="header-home" style="color: #2e3676;">Valuable experiences through smart design.</h1>
          <%= image_tag("light.png", class: "iphone-img") %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="port-link-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1 style="font-size: 26px; color: #b6c1cc; line-height: 50px; font-size: 26px; max-width: 722px; text-align: left; margin: auto; color: #b6c1cc; line-height: 50px;">We are a collective of creative profesionals brought together by our passion for technology.</h1>
           <br>
      </div>
      <div class="width-constraint">
        <div class="col-xs-12 col-md-6">
            <h1 style="font-size: 20px;color: #2e3676;">UX/UI Design</h1>
            <p style="font-size: 16px; color: #b6c1cc;">- Prototyping + UX <br>
                                                        - Design Sprints<br>
                                                        - Landing Pages</p>

        </div>
        <div class="col-xs-12 col-md-6">
            <h1 style="font-size: 20px;color: #2e3676;">Web Development</h1>
           <p style="font-size: 16px; color: #b6c1cc;">- Websites & Apps Development<br>
                                                       - Code Review / Optimization<br>
                                                      - Common CMS Optimization</p>
        </div>
      </div>
    </div>
  </div>
</div>