<div class="about-me">
  <% link_to "https://www.behance.net/co-obst" do  %>
<div class="container-fluid image-card" style="background-image: url(<%= image_path('protcta.jpg') %>)">
  <div class="row">
    <div class="col-xs-12">
      <div class="opacity-message">
        <div class="list-services-link">
            <h1>We Love What We Do. 
          </h1>
          </div>
      </div>
      </div>
  </div>
</div>
  <div class="message-op-small">
    <h1>View Projects</h1>
  </div> 
<% end %>