<div class="navbar-wagon">
  <!-- Logo -->

  <%= image_tag "logo.png", class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="https://www.behance.net/martindefrutosdesign" class="navbar-wagon-item navbar-wagon-link">About</a>

    </div>
  </div>
