<h1 style="font-size: 26px;
    color: #b6c1cc;
    max-width: 800px;
    text-align: center;
    line-height: 50px;
    margin: auto;
    margin-top: 24px;">Our Team</h1>
<section class="testimonials text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div  class="card-wierd testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" style="box-shadow: 1px 1px 16px #00000047;" src="<%= image_path "martin.png" %>" alt="">
            <h5 class="text-left" style="margin-top: 30px; font-size: 20px">Martin de Frutos</h5>
            <p class="text-left">Creative Director</p>
            <p style="font-size: 15px; color: #5d5d5d94;" class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
          </div>
        </div>
         <div class="col-lg-3">
          <div  class="card-wierd testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" style="box-shadow: 1px 1px 16px #00000047;" src="<%= image_path "alex.png" %>" alt="">
            <h5 class="text-left" style="margin-top: 30px; font-size: 20px">Alex Dubovoy</h5>
            <p class="text-left">CTO</p>
            <p style="font-size: 15px; color: #5d5d5d94;" class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
          </div>
        </div>
         <div class="col-lg-3">
          <div  class="card-wierd testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" style="box-shadow: 1px 1px 16px #00000047;" src="<%= image_path "toni.png" %>" alt="">
            <h5 class="text-left" style="margin-top: 30px; font-size: 20px">Toni Panacheck</h5>
            <p class="text-left">Lead Developer</p>
            <p style="font-size: 15px; color: #5d5d5d94;" class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
          </div>
        </div>
         <div class="col-lg-3">
          <div  class="card-wierd testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" style="box-shadow: 1px 1px 16px #00000047;" src="<%= image_path "vin.png" %>" alt="">
            <h5 class="text-left" style="margin-top: 30px; font-size: 20px">Vini Tiet</h5>
            <p class="text-left">Business Consultant</p>
            <p style="font-size: 15px; color: #5d5d5d94;" class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
</section>