<div class="hidden-xs container-fluid" style="padding-top: 50px; background: white;">
    <div class="row">
      <div class="services-section">
        <div class="services-cards">
          <div id="one" class="card card-a col-xs-6 col-md-3">
          <div class="img-service-a">
            <div class="overlay">
               <div class="text">
                <div class="title">
                  <h1>Branding & Identity</h1>
                  <ul>
                    <li><p>Naming, Renaming</p></li>
                    <li><p>Logos</p></li>
                    <li><p>Identity Systems</p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           
           </div>
          <div id="2" class="card card-a col-xs-6 col-md-3">
               <div class="img-service-b">
                 <div class="overlay">
              <div class="text">
              <div class="title">
                <h1>Graphic Design</h1>
              </div>
               
              </div>
            </div>
          </div>
          
            </div>
          <div id="3" class="card card-a col-xs-6 col-md-3">
               <div class="img-service-c">
                 <div class="overlay">
                <div class="text">
              <div class="title">
                <h1>Web Design & Development</h1>
              </div>
            
              </div>
            </div>
          </div>
          
            </div>
               <div id="3" class="card card-a col-xs-6 col-md-3">
               <div class="img-service-e">
                <div class="text">
                   <%= image_tag("logo_3.svg", style: "width: 99px;") %> 
                </div>
          </div>
          
            </div>
          </div>
        </div>
      </div>

  </div>