.btn-custom {
  background-color: #ff5151;
  font-size: 18px;
  color: white;
  border: solid 2px white;
  border-radius: 34px;
  padding: 12px 44px;
}

.btn-secondary {
  background-color: #ffb938;
  font-size: 18px;
  color: white;
  border: solid 2px white;
  border-radius: 34px;
  padding: 12px 44px;
}

