.card__image {
  img {
    width: 100%;
  }
    overflow: hidden;
}

.tabs {
      width: 22px;
    border-radius: 0px 2px 2px 0px;
    background-color: #ff5959;
    position: absolute;
    height: 53px;
    top: -14px;
    /* box-shadow: inset 3px -2px 6px rgba(76, 76, 76, 0.22); */
    box-shadow: 3px 1px 3px rgba(133, 133, 133, 0.06);
    left: 580px;
}



.card {
   transition: ease 1s;
  .btn-card {
    font-size: 15px;
    width: 250px;
    width: 154px;
    position: absolute;
    bottom: -57px;
    transition: ease 1s;
    left: 102px;
    border-radius: 2px;
    margin: auto;
    padding: 10px 15px;
    color: #fff;
    background-color: #f44336;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
  }

  ul {
    padding: 0 9px;
  }
  li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 9px;
  }
  h1 {
    color: #ffffff;
    font-size: 24px;
    padding-bottom: 9px;
    text-align: center;
  }
  p {
    font-family: "Roboto";
    color: #a0a0a0;
    text-align: center;
    font-size: 15px;
  }

      height: 320px;
  
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.02);

    text-align: center;
    padding: 0;
  .img-service-a {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 320px;
    background-size: cover;
    transition: ease 1s;
    background-position: center;
    background-blend-mode: screen;
    background-image: url(../images/0.png);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .img-service-b {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 320px;
    background-size: cover;
    background-blend-mode: screen;
    transition: ease 1s;
    background-position: center;
    background-image:  url(../images/alex.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


   
  .img-service-d {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 320px;
    background-size: cover;
    transition: ease 1s;
    background-position: center;
    background-image: url('../images/0.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.img-service-e {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 320px;
    background-size: cover;
    transition: ease 1s;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 13px;
      margin-bottom: 0;
      color: white;
    }
    span {
      font-family: 18px;
      margin-top: 0
    }
  }
  .img-service-c {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 320px;
    background-image:  url(../images/martin.jpg);
    background-size: cover;
    transition: ease 1s;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tiny {
  font-size: 12px;
    color: #4e4e4e;
}

.div-wrapper-col {
      border-radius: 2px;
  background: white;
  transition: ease all 1s;
  box-shadow: 1px 1px 10px lightgrey;
  &:hover {
    box-shadow: 1px 1px 20px lightgrey;
    transform: translateY(-5px);
  }
}

.col-c {

    text-align: center;
    margin: 55px 0;
    .p-box {
          font-weight: lighter;
    opacity: .3;
    }
}
    .modal-body {
      min-height: 100vh;
    }


.card:hover {

 .btn-card {
    font-size: 15px;
    width: 250px;
    width: 154px;
    transition: ease 1s;
    position: absolute;
    bottom: 33px;
    left: 102px;
    border-radius: 2px;
    margin: auto;
    padding: 10px 15px;
    color: #fff;
    background-color: #f44336;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
  }
}

.overlay {
  height: 250px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  width: 300px;
  opacity: 0;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 18px #00000057;
}

.card-a {

    overflow: hidden;
    background-color: #ffffff;
}

.card-b {
  overflow: hidden;
  background-color: white;
}


.p-intro-box {
  color: #151345;
  font-size: 22px;
  max-width: 912px;
  text-align: left;
  margin: auto;
  border-radius: 4px;
  background: white;
  padding: 43px 30px;
  box-shadow: 1px 1px 10px #d3d3d363;
}


.animated-bg {
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  border-bottom: 1px solid white;
}


.animated-text {
  h1 { 
    background: linear-gradient(-45deg, #f26a68, white);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
  }
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%
    }
  50% {
    background-position: 100% 50%
    }
  100% {
    background-position: 0% 50%
    }
  }



  .list-tech-stack {
    display: flex;
    justify-content: center;
     padding: 0;
    img {
      padding: 10px;
      height: 75px;
      &:hover {
        opacity: 1;
      }
    }
    li {
      list-style: none;
    }
  }

.title-techstack {
    font-weight: lighter;
    width: 100%;
    color: lightgrey;
    display: -ms-flexbox;
    font-size: 20px;
    text-align: center;
  hr {
    margin-top: 5px;
    width: 36%;
    border: solid 1px #32a4f6;
  }
}

  .arrow {
  border: solid #32a4f6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
        right: 56px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.tech-stack {
    padding: 83px 101px;
    justify-content: space-between;
        background: white;
    color: white;
    padding-bottom: 40px;
}

.arrow-container {
  position: relative;
}

.intro-collection-cap {
    margin-top: 185px;
    line-height: 38px;
    font-size: 20px;
    margin-left: 40px;
    hyphens: none;
    button {
      padding: 1px 22px;
    margin: 8px;
    -webkit-transition: ease .5s all;
    transition: ease .5s all;
    border: solid 1px #0d9697;
    font-size: 17px;
    border-radius: 2px;
    color: #0d9697;
    font-weight: lighter;
    background: transparent;

    }
}

.white-bg {
    background: white;
    opacity: .8;
    position: absolute;
    height: 604vh;
    z-index: 1000;
    width: 100%;;
}


  .header-png {
    bottom: -40px;
    right: 0;
    max-width: 620px;
    width: 50%;
    position: absolute;
  }

