.card__image {
  img {
    width: 100%;
  }
    overflow: hidden;
}

.tabs {
      width: 22px;
    border-radius: 0px 2px 2px 0px;
    background-color: #ff5151;
    position: absolute;
    height: 53px;
    top: -14px;
    /* box-shadow: inset 3px -2px 6px rgba(76, 76, 76, 0.22); */
    box-shadow: 3px 1px 3px rgba(133, 133, 133, 0.06);
    left: 580px;
}


.card {
  .btn-card {
    font-size: 15px;
    width: 250px;
    width: 154px;
    position: absolute;
    bottom: 33px;
    left: 102px;
    border-radius: 2px;
    margin: auto;
    padding: 10px 15px;
    color: #fff;
    background-color: #f44336;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.27);
  }

  ul {
    padding: 0 9px;
  }
  li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 9px;
  }
  h1 {
    color: #5d5d5d;
    font-size: 24px;
    padding-bottom: 9px;
    text-align: center;
  }
  p {
    font-family: "Roboto";
    color: #a0a0a0;
    text-align: center;
    font-size: 15px;
  }
    height: 245px;
    margin: 0 30px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.02);
    width: 360px;
    text-align: center;
    padding: 0;
  .img-service-a {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 260px;
    transition: ease 1s;
    background-image: url('../images/branding-img.png');
    background-size: cover;
    background-position: center;
  }
  .img-service-b {
    height: 260px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-image: url('../images/gd1.jpg');
    background-size: cover;
    background-position: center;
    transition: ease 1s;
  }
  .img-service-c {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    height: 260px;
    background-image: url('../images/neacut.jpg');
    background-size: cover;
    transition: ease 1s;
    background-position: center;
  }
}


.card-a {
    padding: 0 34px;
    overflow: hidden;
    background-color: #ffffff;
}

.card-b {
  overflow: hidden;
  background-color: white;
}

.img-service-a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-image: url('../images/branding-img.png');
  background-size: cover;
  transition: ease 1s;
  background-position: center;
}
.img-service-b:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-image: url('../images/graphic-design-img.png');
  background-size: cover;
  transition: ease 1s;
  background-position: center;
}
.img-service-c:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-image: url('../images/web-design-img.png');
  background-size: cover;
  transition: ease 1s;
  background-position: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .card-c{
    height: 350px;
    margin: 30px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-color: white;

    h1 {
      color: #5d5d5d;
      font-size: 46px;
    }
    h2 {
     font-size: 18px;
     color: #5d5d5d;
     font-family: "Roboto";
   }
   .left {
    height: 350px;
    padding: 76px 69px;

  }
  .right {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-image: url("../images/web-dev-img.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
  }
}

.card-c:hover {

  transition: ease .5s;
  .right {

    transition: ease .5s;
  }
}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .card-c {
    height: 350px;
    margin: 30px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-color: white;

    h1 {
      color: #5d5d5d;
      font-size: 46px;
    }
    h2 {
     font-size: 18px;
     color: #5d5d5d;
     font-family: "Roboto";
   }
   .left {
    height: 350px;
    padding: 76px 69px;

  }
  .right {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-image: url("../images/web-dev-img.jpg");
    background-size: cover;
    background-position: center;

  }
}

.card-c:hover {

  transition: ease .5s;
  .right {

    transition: ease .5s;
  }
}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .card-c {
    height: 350px;
    margin: 30px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-color: white;
    transition: ease .5s;
    h1 {
      color: #5d5d5d;
      font-size: 46px;
    }
    h2 {
     font-size: 18px;
     color: #5d5d5d;
     font-family: "Roboto";
   }
   .left {
    height: 350px;
    padding: 76px 69px;

  }
  .right {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-image: url("../images/web-dev-img.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    transition: ease .5s;
  }
}

.card-c:hover {

  transition: ease .5s;
  .right {

    transition: ease .5s;
  }
}


}

.port-index {
    padding-top: 25px;
    -webkit-box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.05);
    box-shadow: inset -1px -1px 20px rgba(103, 103, 103, 0.07);
    /* padding: 0px 0px 0px 101px; */
    color: black;
    height: 510px;
    margin-top: 55px;
    color: black;
}

.carousel-item{
  padding: 30px 20px;
  float: left;
}

.card-pro {

  .title {
    h1 {
    font-weight: 100;
    margin: 27px;
    font-size: 30px;
    color: #5d5d5d;
    text-align: center;
    }
  }
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,.0500);
  width: 320px;
  height: 360px;

  &__image{
    overflow: hidden;
    position: relative;


  }

  &__info{
    padding: 30px 30px 50px;
  }

  &__title{
    font-weight: 400;
    margin-top: 0;
    line-height: 1;
  }
  &__desc{
    opacity: .5;
  }
}
.main-services p {
  color: #5d5d5d;
}
.car {
  h1 {
        text-align: center;
    color: #5d5d5d;
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 59px;
    padding: 30px;
  }
}



