
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .heading-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 73px 95px;
 h1 {
  color: white;
 }
}
.big-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 40px 0;
 h1 {
  color: white;
 }
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .heading-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 73px 95px;
 h1 {
  color: white;
 }
}
.big-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 40px 0;
 h1 {
  color: white;
 }
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .heading-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 73px 95px;
 h1 {
  color: white;
 }
}
.big-cta {
 background-color: #333333;
 text-align: center;
 height: 300px;
 padding: 40px 0;
 h1 {
  color: white;
 }
}
}


