
// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "cards";
@import "ctas";
@import "buttons";
@import "footer";
@import "animation";
@import "checkboxes";
@import "project-page";


.footer {
	background-color: #1a1a1a;
	text-align: left;
	img {
		max-width: 120px;
		margin-top: 6px;
	}
}

.main-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
}

.banner-content {
	.intro {
		font-family: Letter Gothic STD;
	    text-transform: uppercase;
	    font-size: 16px;
	}
	text-align: center;
	max-width: 500px;
	img {
		border-radius: 12px;
		box-shadow: 1px 1px 8px #e4e4e4;
	}
	h1 {
		font-family: Helvetica Neue;
		font-weight: bold;
		font-size: 5.5rem;
	}
	p {
    	margin: auto;
	}
}


.message-quote {
	font-size: 30px;
}