#web-dev-service-1 {
  background-image: url("../images/web-dev-q.jpg");


}

#web-dev-service-2 {
    background-image: url("../images/neacut.jpg");

}

#web-dev-service-3 {
   background-image: url("../images/rp.jpg");

}

#web-dev-service-4 {
   background-image: url("../images/gd1.jpg");

}


#web-dev-service-5 {
   background-image: url("../images/gd2.jpg");

}

#web-dev-service-6 {
   background-image: url("../images/gd3.jpg");

}

#web-dev-service-7 {
   background-image: url("../images/branding-img.png");

}


#web-dev-service-8 {
   background-image: url("../images/gd2.jpg");

}

#web-dev-service-9 {
   background-image: url("../images/bd2.jpg");

}
