<div class="heading-cta">
  <div class="row">
    <div class="wrapper">
      <div class="inner">
       <h1>Branding</h1>
     </div>
   </div>
 </div>
</div>
<div class="move-up-services">
  <div class="container-fluid">
    <div class="row">



      <div class="card-c">
        <div class="col-xs-12 col-md-7 left">
          <h1>Branding </h1>
          <h2>Lorem ipsum sit amet</h2>

          <div class="code-img">
            <img src="../images/bd1.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div>
  <div class="web-dev-container">
    <div class="container">
      <div class="about-text">
        <div class="col-xs-12">
          <h1>My name is Martin de Frutos and I was born in  in BogoTA, Colombia.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="services-section">
      <div class="services-cards">
        <div class="card card-a col-xs-12 col-md-4">
          <div id="web-dev-service-7" class="img-service-a">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Ford Illustration</h1>
            </div>
            <div class="cta">
            </div>
          </div>
        </div>
        <div class="card card-b col-xs-12 col-md-4">
          <div  id="web-dev-service-8" class="img-service-b">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Vinos Manuscrito</h1>
            </div>
            <div class="cta">

            </div>
          </div>
        </div>
        <div class="card card-a col-xs-12 col-md-4">
          <div id="web-dev-service-9"  class="img-service-c">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Hola Colombia</h1>
            </div>
            <div class="cta">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
