<div class="header">
  <div class="container">
    <div class="intro-text">
      <div class="container-ani">
        <p><div class="text"></div></p>
      </div>
        <h1>Welcome to my design portfolio</h1>
    </div>
  </div>
</div>
<div class="port-link">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-7 left">
        <h2>Portfolio</h2>
        <h1>i make brands visible through smart design.</h1>
        <% link_to "portfolio.html" do %>
        <button class="btn-custom">My Work</button>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-5 right"></div>
    </div>
  </div>
</div>
<div><%= partial "layouts/bigcta" %></div>
<div class="container-fluid">
  <div class="row">
    <div class="services-section">
      <div class="services-cards">
        <div class="card card-a col-xs-12 col-md-4">
          <div class="img-service-a">
          </div>
          <div class="text">
            <div class="title">
              <h1>branding</h1>
            </div>
            <div class="cta">
              <% link_to "portfolio.html" do %>
              <button class="btn-custom">See More</button>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card card-b col-xs-12 col-md-4">
          <div class="img-service-b">
          </div>
          <div class="text">
            <div class="title">
              <h1>Graphic Design</h1>
            </div>
            <div class="cta">
              <% link_to "portfolio.html" do %>
              <button class="btn-custom">See More</button>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card card-a col-xs-12 col-md-4">
          <div class="img-service-c">
          </div>
          <div class="text">
            <div class="title">
              <h1>Web Development</h1>
            </div>
            <div class="cta">
              <% link_to "portfolio.html" do %>
              <button class="btn-custom">See More</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
