<div class="heading-cta">
  <div class="row">
    <div class="wrapper">
      <div class="inner">
       <h1>Web Development</h1>
     </div>
   </div>
 </div>
</div>
<div class="move-up-services">
  <div class="container-fluid">
    <div class="row">
      <% link_to "web_dev.html" do %>
      <div class="card-c">
        <div class="col-xs-12 col-md-7 left">
          <h1>web development</h1>
          <h2>Lorem ipsum sit amet</h2>

          <div class="code-img">
            <img src="../images/web-dev-img.png" alt="">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div>
  <div class="web-dev-container">
    <div class="container">
      <div class="about-text">
        <div class="col-xs-12">
          <h1>My name is Martin de Frutos and I was born in  in BogoTA, Colombia.</h1>
          <ul class="lng-icons-s">
            <li><img src="images/icon-01.svg"></li>
            <li><img src="images/icon-02.svg"></li>
            <li><img src="images/icon-03.svg"></li>
            <li><img src="images/icon-01.svg"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="services-section">
      <div class="services-cards">
        <div class="card card-a col-xs-12 col-md-4">
          <div id="web-dev-service-1" class="img-service-a">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Rookstars</h1>
            </div>
            <div class="cta">
            </div>
          </div>
        </div>
        <div class="card card-b col-xs-12 col-md-4">
          <div id="web-dev-service-2" class="img-service-b">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Nearcut</h1>
            </div>
            <div class="cta">

            </div>
          </div>
        </div>
        <div class="card card-a col-xs-12 col-md-4">
          <div id="web-dev-service-3"  class="img-service-c">
          </div>
          <div class="text-2">
            <div class="title">
              <h1>Rousseau Park</h1>
            </div>
            <div class="cta">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
